In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dfx=pd.read_csv('Diabetes_XTrain.csv')
dfy=pd.read_csv('Diabetes_YTrain.csv')
dataX=dfx.values
dataY=dfy.values

In [3]:
print(dataX.shape)
print(dataY.shape)

(576, 8)
(576, 1)

In [4]:
dfx.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23

In [5]:
dfy.head()

   Outcome
0        1
1        0
2        1
3        1
4        0

In [6]:
X=dataX[:,1:] #for all rows dropping one column
Y=dataY[:,0]
print(X.shape)
print(Y.shape)

(576, 7)
(576,)

In [7]:
def distance(x1,x2):
    return np.sqrt((sum(x1-x2))**2)
def knn(X,Y,test,k=17):
    m=X.shape[0]
    d=[]
    for i in range(m):
        dist=distance(test,X[i])
        d.append((dist,Y[i]))
    d=np.array(sorted(d))[:,1]
    d=d[:k]
    t=np.unique(d,return_counts=True)
    idx=np.argmax(t[1])
    pred=int(t[0][idx])
    return pred

In [8]:
test=pd.read_csv('Diabetes_Xtest.csv')
test.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,180,90,26,90,36.5,0.314,35
1,2,93,64,32,160,38.0,0.674,23
2,2,114,68,22,0,28.7,0.092,25
3,13,76,60,0,0,32.8,0.180,41
4,1,80,74,11,60,30.0,0.527,22

In [9]:
x_test=test.values

In [10]:
x_test.shape

(192, 8)

In [11]:
y_t=[]
for x_t in x_test:
    y_t.append(knn(dataX,dataY,x_t))

In [12]:
y_t=np.array(y_t)

In [13]:
print(y_t.shape)

(192,)

In [14]:
df=pd.DataFrame(data=y_t,columns=['Outcome'])
df.to_csv('diab_sol1.csv',index=False)